<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Movies</title>
</head>
<body>
    <h1>All Movies</h1>
    {% if movies %}
        <table >
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {% for movie in movies %}
            <tr>
                <td>{{ movie[0] }}</td>  <!-- Access by index -->
                <td>{{ movie[1] }}</td>
                <td>{{ movie[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No movies found.</p>
    {% endif %}
    <br>
    <a href="/">Back to Home</a>
</body>
</html>



